@media screen and (max-width:1024px) {
    // -----Header------
    .header-wrapper{
        min-width: 300px;
        width: 100%;
        margin: 0 auto;
        background-image: url(../IMG/header-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        .header-content{
            display: block;
    }
}
.header-img1{
    display: none;
}
.header-img2{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%); 
}
.header-menu{
    margin: 0 auto;
    width: 95%;
    padding-top: 50px;
    .header-nav-btn2{
        margin-right: 0;
    }
}
.header-info{
    h1{
        margin-top: 20px;
        }
     p{
        margin-top: 20px;
        color:$colorWhite;
        }
}
.header-buttons{
    margin-top: 20px;
    .header-btn{
        padding: 30px 30px;
    }
}
// -------Section About-----------
.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
     margin-top: 25px;
}
.about-item{
    padding: 0;
    margin-right: 0;
    border: none;
    .about-header{
        display: flex;
        justify-content:space-around;
        align-items: center;
        h3{
            margin-left: 0;
        }
    }
    .about-text{
        margin: 10px 0;
    }
}
// -------Section Gallery-----------
.gallery{
    width: 100%;
    margin: 0 auto;
}
.gallery-images{
    flex-direction: column;
    .gallery-item{
        margin-bottom: 20px;
    }
}
// -------Section Plants-----------
.plants{
    width: 100%;
    margin: 0 auto;
}
.plants-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .plants-info{
        background-image: url(../IMG/plant1.png);
        background-repeat: no-repeat;
        background-size: cover;
        h2{  
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
        p{  
            width: 90%;
            margin: 0 auto;
            margin-top: 15px;
            text-align: center;
        }
    }
    .plants-littlelImg{
        display: none;
    }
    .plants-bigImg{
        display: none;
    }
}
// -------Section Plants-----------
.forms-content{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../IMG/forms.png);
    background-repeat: no-repeat;
    h2{
        @include  textStyle($mainFont,$sizeH2, 700, 56px);
        color:$sizeMain;   
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    input{
        background-color: $mainColor;
        width: 95%;
        margin: 0 auto;
        height: 40px;
        color: $textColor1;
        padding: 10px 20px;
        text-align: center;
        margin-left: 0;
        margin-top: 30px;
    }
}
.forms-img{
    display: none;
}
// -------Footer-----------
.footer{
    margin-top: 50px;
    background-color: #F3F4F6;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
    text-align:center;
}
.footer-item1{
    p{
        margin-bottom: 25px;
        width: 100%;
    }
}
.footer-item4{
    input[type="email"]{
        background-color: #fff;
        width: 90%;
        height: 50px;
    }
    input[type="email"]::placeholder{
        color:$colorBlack; 
        @include  textStyle($footerFont,$sizeHeader, 400, 16px);
        text-align: center;
    }
    input[type="submit"]{
        width: 90%;
        height: 50px;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 15px;
    }
}
}


