/* ---------Commot settings------------ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  overflow-x: hidden;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-wrapper {
  min-width: 1200px;
  width: 100vw;
  margin: 0 auto;
}

.header-wrapper .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-img2 {
  position: absolute;
  top: 30px;
  left: 30px;
}

.header-info h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 68px;
  line-height: 80px;
  font-weight: 500;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  color: #156963;
  text-align: center;
}

.header-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  color: #2C1500;
  text-align: center;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 130px;
  padding-top: 50px;
}

.header-menu li {
  text-align: center;
}

.header-menu a {
  color: #000;
  margin-right: 50px;
  text-align: center;
}

.header-menu .header-nav-btn {
  color: #156963;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.header-buttons {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-buttons .header-btn2 a {
  text-align: right;
}

.header-buttons .header-btn {
  padding: 40px 50px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header-buttons .header-btn:hover {
  background-color: #156963;
}

.header-buttons .header-btn a {
  display: block;
}

.header-buttons .header-btn .header-switch {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #333333;
}

.header-buttons .header-btn .header-btn-link {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: #156963;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header-buttons .header-btn .header-btn-link:hover {
  color: #fff;
}

.main-wrapper {
  width: 95%;
  margin: 0 auto;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.about-item4 {
  margin-right: 0;
}

.about-item {
  padding: 20px 10px;
  border: 1px solid #E0E0E0;
  margin-right: 20px;
}

.about-item .about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-item .about-header h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #156963;
  margin-left: 20px;
}

.about-item .about-text {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  color: #2C1500;
  margin-top: 20px;
}

.gallery {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.gallery-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.gallery-header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
}

.gallery-header form {
  width: 130px;
  height: 30px;
  padding: 8px, 12px, 8px, 12px;
  border: 1px solid #E0E0E0;
  text-align: center;
  line-height: 30px;
}

.gallery-header form option {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.gallery-header::after {
  content: "";
  border-bottom: 1px solid #4F4F4F;
  position: absolute;
  top: 50px;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.gallery-images {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-images .gallery-item6 {
  display: none;
}

.gallery-images .gallery-image {
  background-color: #F3F4F6;
}

.gallery-images p {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

.gallery-images h4 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #000;
}

.plants {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.plants-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (150px)[4];
      grid-template-rows: repeat(4, 150px);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: stretch;
}

.plants-wrapper .plants-info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.plants-wrapper .plants-info h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: #2C1500;
  width: 90%;
  margin: 0 auto;
}

.plants-wrapper .plants-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: 16px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}

.plants-wrapper .plants-littlelImg {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

.plants-wrapper .plants-bigImg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

.plants-wrapper .plants-bigImg img {
  width: 80%;
  text-align: right;
}

.forms {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.forms-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F4F6;
}

.forms-content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: 16px;
  width: 70%;
  margin-left: 100px;
}

.forms-content input {
  background-color: #156963;
  width: 150px;
  height: 40px;
  color: #F2F2F2;
  padding: 10px 20px;
  text-align: center;
  margin-left: 100px;
  margin-top: 30px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.forms-content input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  position: relative;
  margin-top: 80px;
}

.footer::before {
  content: "";
  width: 100%;
  border-bottom: 1px solid rgba(21, 105, 99, 0.3);
  position: absolute;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px 160px;
}

.footer-item1 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #156963;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer-item1 h3 {
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.footer-item1 p {
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  width: 280px;
}

.footer-item2 h3 {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-item2 h4 {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.footer-item3 h3 {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-item3 h4 {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.footer-item4 h3 {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.footer-item4 input[type="email"] {
  background-color: transparent;
  width: 235px;
  height: 35px;
  border: 1px solid #F2F2F2;
}

.footer-item4 input[type="email"]::-webkit-input-placeholder {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.footer-item4 input[type="email"]:-ms-input-placeholder {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.footer-item4 input[type="email"]::-ms-input-placeholder {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.footer-item4 input[type="email"]::placeholder {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.footer-item4 input[type="submit"] {
  display: block;
  background-color: #156963;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  width: 100px;
  height: 35px;
  border-radius: 2px;
  color: #fff;
  padding: 4px 12px;
  margin-top: 15px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer-item4 input[type="submit"]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .header-wrapper {
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../IMG/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-wrapper .header-content {
    display: block;
  }
  .header-img1 {
    display: none;
  }
  .header-img2 {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .header-menu {
    margin: 0 auto;
    width: 95%;
    padding-top: 50px;
  }
  .header-menu .header-nav-btn2 {
    margin-right: 0;
  }
  .header-info h1 {
    margin-top: 20px;
  }
  .header-info p {
    margin-top: 20px;
    color: #fff;
  }
  .header-buttons {
    margin-top: 20px;
  }
  .header-buttons .header-btn {
    padding: 30px 30px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
  }
  .about-item {
    padding: 0;
    margin-right: 0;
    border: none;
  }
  .about-item .about-header2 {
    margin-left: 20px;
  }
  .about-item .about-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-item .about-header h3 {
    margin-left: 0;
  }
  .about-item .about-text {
    margin: 10px 0;
  }
  .gallery {
    width: 100%;
    margin: 0 auto;
  }
  .gallery-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (3)[1fr];
        grid-template-columns: repeat(1fr, 3);
    -ms-grid-rows: (2)[1fr];
        grid-template-rows: repeat(1fr, 2);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-images .gallery-item {
    margin: 20px;
  }
  .gallery-images .gallery-item1 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .gallery-images .gallery-item2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .gallery-images .gallery-item3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .gallery-images .gallery-item4 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .gallery-images .gallery-item5 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .gallery-images .gallery-item6 {
    display: block;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .plants {
    width: 100%;
    margin: 0 auto;
  }
  .plants-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .plants-wrapper .plants-info {
    background-image: url(../IMG/plant1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .plants-wrapper .plants-info h2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .plants-wrapper .plants-info p {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
  }
  .plants-wrapper .plants-littlelImg {
    display: none;
  }
  .plants-wrapper .plants-bigImg {
    display: none;
  }
  .forms {
    margin-top: 10px;
  }
  .forms-content {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../IMG/forms.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .forms-content h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    color: 16px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .forms-content input {
    background-color: #156963;
    width: 95%;
    margin: 0 auto;
    height: 40px;
    color: #F2F2F2;
    padding: 10px 20px;
    text-align: center;
    margin-left: 0;
    margin-top: 30px;
  }
  .forms-img {
    display: none;
  }
  .footer {
    margin-top: 10px;
    background-color: #F3F4F6;
  }
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .footer-item1 p {
    margin-bottom: 25px;
    width: 100%;
  }
  .footer-item4 input[type="email"] {
    background-color: #fff;
    width: 90%;
    height: 50px;
  }
  .footer-item4 input[type="email"]::-webkit-input-placeholder {
    color: #000;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
  }
  .footer-item4 input[type="email"]:-ms-input-placeholder {
    color: #000;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
  }
  .footer-item4 input[type="email"]::-ms-input-placeholder {
    color: #000;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
  }
  .footer-item4 input[type="email"]::placeholder {
    color: #000;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
  }
  .footer-item4 input[type="submit"] {
    width: 90%;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header-buttons {
    margin-top: 20px;
  }
  .header-buttons .header-btn {
    padding: 30px 10px;
  }
  .gallery-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2)[1fr];
        grid-template-columns: repeat(1fr, 2);
    -ms-grid-rows: (3)[1fr];
        grid-template-rows: repeat(1fr, 3);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-images .gallery-item {
    margin: 20px;
  }
  .gallery-images .gallery-item1 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .gallery-images .gallery-item2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .gallery-images .gallery-item3 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .gallery-images .gallery-item4 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .gallery-images .gallery-item5 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .gallery-images .gallery-item6 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media screen and (max-width: 576px) {
  .gallery-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=Style.css.map */